body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
    align-items: center;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0984e3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}