body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

.dado {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    font-size: 100px;
    background-color: #6c5ce7;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#resultado {
    margin-top: 20px;
}